@font-face {
    font-family: inter;
    src: url('/assets/font/Inter-SemiBold.woff');
}

@font-face {
    font-family: sanchez;
    src: url('/assets/font/Sanchez-Regular.woff');
}

body {
    background-image:  linear-gradient(rgba(224, 216, 216, 0.226), rgba(192, 184, 184, 0.664)),
    url('/assets/images/textura.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%
}

header {
    background-image: url('/assets/images/mineradora.png');
    padding-bottom: 5%;
    text-align: center;
    font-family: sanchez;
}